<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-language-heading"
        data-cy="LanguageCreateUpdateHeading"
        jhiTranslate="wiamLmsApplicationApp.language.home.createOrEditLabel"
      >
        Create or edit a Language
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="wiamLmsApplicationApp.language.id" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
            @if (editForm.get('id')!.invalid && (editForm.get('id')!.dirty || editForm.get('id')!.touched)) {
              <div>
                @if (editForm.get('id')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
                }
                <small class="form-text text-danger" [hidden]="!editForm.get('id')?.errors?.number" jhiTranslate="entity.validation.number"
                  >This field should be a number.</small
                >
              </div>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.language.label" for="field_label">Label</label>
          <input type="text" class="form-control" name="label" id="field_label" data-cy="label" formControlName="label" />
          @if (editForm.get('label')!.invalid && (editForm.get('label')!.dirty || editForm.get('label')!.touched)) {
            <div>
              @if (editForm.get('label')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              @if (editForm.get('label')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 50 }"
                  >This field cannot be longer than 50 characters.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.language.userCustom" for="field_userCustom">User Custom</label>
          <select
            class="form-control"
            id="field_userCustom"
            data-cy="userCustom"
            name="userCustom"
            formControlName="userCustom"
            [compareWith]="compareUserCustom"
          >
            <option [ngValue]="null"></option>
            @for (userCustomOption of userCustomsSharedCollection; track $index) {
              <option [ngValue]="userCustomOption">{{ userCustomOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
