<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (jobTitle) {
      <div>
        <h2 data-cy="jobTitleDetailsHeading"><span jhiTranslate="wiamLmsApplicationApp.jobTitle.detail.title">Job Title</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ jobTitle.id }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.jobTitle.titleAr">Title Ar</span></dt>
          <dd>
            <span>{{ jobTitle.titleAr }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.jobTitle.titleLat">Title Lat</span></dt>
          <dd>
            <span>{{ jobTitle.titleLat }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.jobTitle.description">Description</span></dt>
          <dd>
            <span>{{ jobTitle.description }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/job-title', jobTitle.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
