<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (professor) {
      <div>
        <h2 data-cy="professorDetailsHeading"><span jhiTranslate="wiamLmsApplicationApp.professor.detail.title">Professor</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ professor.id }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ professor.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.mobileNumber">Mobile Number</span></dt>
          <dd>
            <span>{{ professor.mobileNumber }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.gender">Gender</span></dt>
          <dd>
            <span>{{ professor.gender }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.about">About</span></dt>
          <dd>
            <span>{{ professor.about }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.imageLink">Image Link</span></dt>
          <dd>
            @if (professor.imageLink) {
              <div>
                <a (click)="openFile(professor.imageLink, professor.imageLinkContentType)">
                  <img
                    [src]="'data:' + professor.imageLinkContentType + ';base64,' + professor.imageLink"
                    style="max-width: 100%"
                    alt="professor image"
                  />
                </a>
                {{ professor.imageLinkContentType }}, {{ byteSize(professor.imageLink) }}
              </div>
            }
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.code">Code</span></dt>
          <dd>
            <span>{{ professor.code }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.birthdate">Birthdate</span></dt>
          <dd>
            <span>{{ professor.birthdate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.lastDegree">Last Degree</span></dt>
          <dd>
            <span>{{ professor.lastDegree }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.professor.userCustom">User Custom</span></dt>
          <dd>
            @if (professor.userCustom) {
              <div>
                <a [routerLink]="['/user-custom', professor.userCustom.id, 'view']">{{ professor.userCustom.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/professor', professor.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
