<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-cotery-heading" data-cy="CoteryCreateUpdateHeading" jhiTranslate="wiamLmsApplicationApp.cotery.home.createOrEditLabel">
        Create or edit a Cotery
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.cotery.date" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.cotery.coteryName" for="field_coteryName">Cotery Name</label>
          <input
            type="text"
            class="form-control"
            name="coteryName"
            id="field_coteryName"
            data-cy="coteryName"
            formControlName="coteryName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.cotery.studentFullName" for="field_studentFullName"
            >Student Full Name</label
          >
          <input
            type="text"
            class="form-control"
            name="studentFullName"
            id="field_studentFullName"
            data-cy="studentFullName"
            formControlName="studentFullName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.cotery.attendanceStatus" for="field_attendanceStatus"
            >Attendance Status</label
          >
          <select
            class="form-control"
            name="attendanceStatus"
            formControlName="attendanceStatus"
            id="field_attendanceStatus"
            data-cy="attendanceStatus"
          >
            <option [ngValue]="null">{{ 'wiamLmsApplicationApp.Attendance.null' | translate }}</option>
            @for (attendance of attendanceValues; track $index) {
              <option [value]="attendance">{{ 'wiamLmsApplicationApp.Attendance.' + attendance | translate }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
