<div>
  <h2 id="page-heading" data-cy="ProjectHeading">
    <span jhiTranslate="wiamLmsApplicationApp.project.home.title">Projects</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wiamLmsApplicationApp.project.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-project"
        [routerLink]="['/project/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wiamLmsApplicationApp.project.home.createLabel">Create a new Project</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wiamLmsApplicationApp.project.home.search"
          >Search for Project</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wiamLmsApplicationApp.project.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (projects?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wiamLmsApplicationApp.project.home.notFound">No Projects found</span>
    </div>
  }

  @if (projects && projects.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="titleAr">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.titleAr">Title Ar</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="titleLat">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.titleLat">Title Lat</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.description">Description</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="goals">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.goals">Goals</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="requirement">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.requirement">Requirement</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="imageLink">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.imageLink">Image Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="videoLink">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.videoLink">Video Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="budget">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.budget">Budget</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="isActive">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.isActive">Is Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="activateAt">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.activateAt">Activate At</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="startDate">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.startDate">Start Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="endDate">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.project.endDate">End Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (project of projects; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/project', project.id, 'view']">{{ project.id }}</a>
              </td>
              <td>{{ project.titleAr }}</td>
              <td>{{ project.titleLat }}</td>
              <td>{{ project.description }}</td>
              <td>{{ project.goals }}</td>
              <td>{{ project.requirement }}</td>
              <td>
                @if (project.imageLink) {
                  <a (click)="openFile(project.imageLink, project.imageLinkContentType)">
                    <img
                      [src]="'data:' + project.imageLinkContentType + ';base64,' + project.imageLink"
                      style="max-height: 30px"
                      alt="project image"
                    />
                  </a>
                  <span>{{ project.imageLinkContentType }}, {{ byteSize(project.imageLink) }}</span>
                }
              </td>
              <td>{{ project.videoLink }}</td>
              <td>{{ project.budget }}</td>
              <td>{{ project.isActive }}</td>
              <td>{{ project.activateAt | formatMediumDate }}</td>
              <td>{{ project.startDate | formatMediumDate }}</td>
              <td>{{ project.endDate | formatMediumDate }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/project', project.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/project', project.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(project)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
