<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (sessionProvider) {
      <div>
        <h2 data-cy="sessionProviderDetailsHeading">
          <span jhiTranslate="wiamLmsApplicationApp.sessionProvider.detail.title">Session Provider</span>
        </h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ sessionProvider.id }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.sessionProvider.name">Name</span></dt>
          <dd>
            <span>{{ sessionProvider.name }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.sessionProvider.description">Description</span></dt>
          <dd>
            <span>{{ sessionProvider.description }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.sessionProvider.website">Website</span></dt>
          <dd>
            <span>{{ sessionProvider.website }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/session-provider', sessionProvider.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
