<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-exam-heading" data-cy="ExamCreateUpdateHeading" jhiTranslate="wiamLmsApplicationApp.exam.home.createOrEditLabel">
        Create or edit a Exam
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.comite" for="field_comite">Comite</label>
          <input type="text" class="form-control" name="comite" id="field_comite" data-cy="comite" formControlName="comite" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.studentName" for="field_studentName">Student Name</label>
          <input
            type="text"
            class="form-control"
            name="studentName"
            id="field_studentName"
            data-cy="studentName"
            formControlName="studentName"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.examName" for="field_examName">Exam Name</label>
          <input type="text" class="form-control" name="examName" id="field_examName" data-cy="examName" formControlName="examName" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.examCategory" for="field_examCategory">Exam Category</label>
          <select class="form-control" name="examCategory" formControlName="examCategory" id="field_examCategory" data-cy="examCategory">
            <option [ngValue]="null">{{ 'wiamLmsApplicationApp.Riwayats.null' | translate }}</option>
            @for (riwayats of riwayatsValues; track $index) {
              <option [value]="riwayats">{{ 'wiamLmsApplicationApp.Riwayats.' + riwayats | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.examType" for="field_examType">Exam Type</label>
          <select class="form-control" name="examType" formControlName="examType" id="field_examType" data-cy="examType">
            <option [ngValue]="null">{{ 'wiamLmsApplicationApp.ExamType.null' | translate }}</option>
            @for (examType of examTypeValues; track $index) {
              <option [value]="examType">{{ 'wiamLmsApplicationApp.ExamType.' + examType | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.tajweedScore" for="field_tajweedScore">Tajweed Score</label>
          <input
            type="number"
            class="form-control"
            name="tajweedScore"
            id="field_tajweedScore"
            data-cy="tajweedScore"
            formControlName="tajweedScore"
          />
          @if (editForm.get('tajweedScore')!.invalid && (editForm.get('tajweedScore')!.dirty || editForm.get('tajweedScore')!.touched)) {
            <div>
              @if (editForm.get('tajweedScore')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('tajweedScore')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.hifdScore" for="field_hifdScore">Hifd Score</label>
          <input type="number" class="form-control" name="hifdScore" id="field_hifdScore" data-cy="hifdScore" formControlName="hifdScore" />
          @if (editForm.get('hifdScore')!.invalid && (editForm.get('hifdScore')!.dirty || editForm.get('hifdScore')!.touched)) {
            <div>
              @if (editForm.get('hifdScore')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('hifdScore')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.adaeScore" for="field_adaeScore">Adae Score</label>
          <input type="number" class="form-control" name="adaeScore" id="field_adaeScore" data-cy="adaeScore" formControlName="adaeScore" />
          @if (editForm.get('adaeScore')!.invalid && (editForm.get('adaeScore')!.dirty || editForm.get('adaeScore')!.touched)) {
            <div>
              @if (editForm.get('adaeScore')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('adaeScore')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.observation" for="field_observation">Observation</label>
          <textarea
            class="form-control"
            name="observation"
            id="field_observation"
            data-cy="observation"
            formControlName="observation"
          ></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.exam.decision" for="field_decision">Decision</label>
          <input type="number" class="form-control" name="decision" id="field_decision" data-cy="decision" formControlName="decision" />
          @if (editForm.get('decision')!.invalid && (editForm.get('decision')!.dirty || editForm.get('decision')!.touched)) {
            <div>
              @if (editForm.get('decision')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('decision')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >This field should be a number.</small
              >
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
