<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (review) {
      <div>
        <h2 data-cy="reviewDetailsHeading"><span jhiTranslate="wiamLmsApplicationApp.review.detail.title">Review</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ review.id }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.review.body">Body</span></dt>
          <dd>
            <span>{{ review.body }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.review.rating">Rating</span></dt>
          <dd>
            <span>{{ review.rating }}</span>
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.review.userCustom">User Custom</span></dt>
          <dd>
            @if (review.userCustom) {
              <div>
                <a [routerLink]="['/user-custom', review.userCustom.id, 'view']">{{ review.userCustom.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="wiamLmsApplicationApp.review.course">Course</span></dt>
          <dd>
            @if (review.course) {
              <div>
                <a [routerLink]="['/part', review.course.id, 'view']">{{ review.course.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/review', review.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
