<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-leave-request-heading"
        data-cy="LeaveRequestCreateUpdateHeading"
        jhiTranslate="wiamLmsApplicationApp.leaveRequest.home.createOrEditLabel"
      >
        Create or edit a Leave Request
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.leaveRequest.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.leaveRequest.from" for="field_from">From</label>
          <div class="d-flex">
            <input
              id="field_from"
              data-cy="from"
              type="datetime-local"
              class="form-control"
              name="from"
              formControlName="from"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('from')!.invalid && (editForm.get('from')!.dirty || editForm.get('from')!.touched)) {
            <div>
              @if (editForm.get('from')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('from')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.leaveRequest.toDate" for="field_toDate">To Date</label>
          <div class="d-flex">
            <input
              id="field_toDate"
              data-cy="toDate"
              type="datetime-local"
              class="form-control"
              name="toDate"
              formControlName="toDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (editForm.get('toDate')!.invalid && (editForm.get('toDate')!.dirty || editForm.get('toDate')!.touched)) {
            <div>
              @if (editForm.get('toDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('toDate')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >This field should be a date and time.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="wiamLmsApplicationApp.leaveRequest.details" for="field_details">Details</label>
          <textarea class="form-control" name="details" id="field_details" data-cy="details" formControlName="details"></textarea>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
