<div>
  <h2 id="page-heading" data-cy="SponsorHeading">
    <span jhiTranslate="wiamLmsApplicationApp.sponsor.home.title">Sponsors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="wiamLmsApplicationApp.sponsor.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sponsor"
        [routerLink]="['/sponsor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="wiamLmsApplicationApp.sponsor.home.createLabel">Create a new Sponsor</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="wiamLmsApplicationApp.sponsor.home.search"
          >Search for Sponsor</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'wiamLmsApplicationApp.sponsor.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (sponsors?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="wiamLmsApplicationApp.sponsor.home.notFound">No Sponsors found</span>
    </div>
  }

  @if (sponsors && sponsors.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.phoneNumber">Phone Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="mobileNumber">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.mobileNumber">Mobile Number</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="gender">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.gender">Gender</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="about">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.about">About</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="imageLink">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.imageLink">Image Link</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.code">Code</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="birthdate">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.birthdate">Birthdate</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastDegree">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.lastDegree">Last Degree</span>
                @if (!currentSearch) {
                  <fa-icon class="p-1" icon="sort"></fa-icon>
                }
              </div>
            </th>
            <th scope="col" jhiSortBy="userCustom.id">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.userCustom">User Custom</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="students.id">
              <div class="d-flex">
                <span jhiTranslate="wiamLmsApplicationApp.sponsor.students">Students</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sponsor of sponsors; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sponsor', sponsor.id, 'view']">{{ sponsor.id }}</a>
              </td>
              <td>{{ sponsor.phoneNumber }}</td>
              <td>{{ sponsor.mobileNumber }}</td>
              <td>{{ sponsor.gender }}</td>
              <td>{{ sponsor.about }}</td>
              <td>
                @if (sponsor.imageLink) {
                  <a (click)="openFile(sponsor.imageLink, sponsor.imageLinkContentType)">
                    <img
                      [src]="'data:' + sponsor.imageLinkContentType + ';base64,' + sponsor.imageLink"
                      style="max-height: 30px"
                      alt="sponsor image"
                    />
                  </a>
                  <span>{{ sponsor.imageLinkContentType }}, {{ byteSize(sponsor.imageLink) }}</span>
                }
              </td>
              <td>{{ sponsor.code }}</td>
              <td>{{ sponsor.birthdate | formatMediumDate }}</td>
              <td>{{ sponsor.lastDegree }}</td>
              <td>
                @if (sponsor.userCustom) {
                  <div>
                    <a [routerLink]="['/user-custom', sponsor.userCustom.id, 'view']">{{ sponsor.userCustom.id }}</a>
                  </div>
                }
              </td>
              <td>
                @for (students of sponsor.students; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/student', students.id, 'view']">{{ students.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/sponsor', sponsor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/sponsor', sponsor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(sponsor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
